<html>
    <head>
        <title>Ping-Pong Test</title>
    </head>
    <body>
        <h1>Ping-Pong Test</h1>
            <form action="/" method="post">
                <label for="number">Enter a number</label>
                <input id="number" name="number" type="number">
                <button type="submit">Enter</button>
            </form>
    </body>
</html>
